---
// src/pages/index.astro
import MainLayout from '../layouts/MainLayout.astro';
import HeroSection from '../components/react/home/HeroSection';
import ServicesSection from '../components/react/home/ServicesSection';
import TestimonialSection from '../components/react/home/TestimonialSection';
import CtaSection from '../components/react/home/CtaSection';
---

<MainLayout title="Inicio" description="Ingeniería de precisión para el caballero moderno.">
  
  <HeroSection />

  <div class="midnight-fade-bg py-24 space-y-32">
    <ServicesSection />
    <TestimonialSection />
    <CtaSection />
  </div>

</MainLayout>